html, body {
    height: 100%;
}

a:link {
    text-decoration: none;
}

a {
    color: darkslategray;
}

body {
    background-image: url(../images/full-bloom/full-bloom.png);
    display: flex;
    flex-direction: column;
}

#kyle {
    width: 215px;
    height: 215px;
    float: left;
    margin-right: 20px;
    border-radius: 25px;
}

#cover-bio {
    border: 1px ridge #dddddd;
    padding: 10px;
}

#cover-portfolio {
    border: 1px ridge #dddddd;
    padding: 10px;
}

#cover-contact {
    border: 1px ridge #dddddd;
    padding: 10px;
}

h1 {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid darkslategray;
}

h2 {
    border-bottom: 2px solid darkslategray;
    font-family: 'Nanum Gothic', sans-serif;
    color: darkslategray;
    padding-bottom: 15px;
}

h3 {
    text-align: center;
    color: darkslategray;
}

.nav-item {
    position: relative;
    left: 400px;
    bottom: -10px;
    padding: 15px;
    color: darkslategray;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 18px;
}

#git, #linked {
    position: relative;
    bottom: 10px;
    left: 0px;
    margin: 15px;
    color: darkslategray;
}

.navbar-brand {
    font-size: 30px;
    position: relative;
    margin-left: 100px;
    font-family: 'Nanum Gothic', sans-serif;
    background-color: darkslategray;
    padding: 10px 20px 10px 20px;
    color: #ffffff;
}

.label1 {
    position: relative;
    bottom: 60px;
    background-color: darkslategray;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    width: auto;
    border-radius: 25px;
}

.label2 {
    position: relative;
    bottom: 50px;
    left: 100px;
    color: darkslategray;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    width: 175px;
}

.responsive {
    width: 100%;
}

.container {
    flex: 1 0 auto;
    border: 1px solid darkslategray;
    width: 960px;
    margin-top: 25px;
    font-family: 'Nanum Gothic', sans-serif;
    color: darkslategray;
    background-color: snow;
    padding: 28px;
    border-radius: 25px;
}

.card-footer {
    margin-top: 225px;
    flex-shrink: 0;
    width: 100%;
    text-align: center;
    border-top: 8px solid darkgray;
    background-color: darkslategray;
    color: #ffffff;
}

#ffdb, #weather, #password, #burger, #msts, #lotr {
    height: 250px;
    border: 1px solid darkslategray;
    border-radius: 25px;
}

ul {
    background-color: #ffffff;
}

/*MEDIA QUERIES ==================================================*/

@media (max-width: 1200px) {
    .container {
        width: 1175px;
    }

    #brand {
        margin-left: 50px;
    }

    .nav-item {
        position: relative;
        left: 275px;
    }

    #git, #linked {
        position: relative;
        left: 25px;
    }

    ul {
        width: 100%;
        justify-content: center;
    }

    .label2 {
        left: 150px;
    }
}

@media (max-width: 1024px) {
    #brand {
        margin-left: 100px;
    }

    .nav-item {
       position: relative;
       left: 75px;
       text-align: center;
    }

    ul {
        width: 100%;
        justify-content: center;
    }

    #git, #linked {
        position: relative;
        left: 40px;
    }
}

@media (max-width: 900px) {

    .container {
        width: 885px;
    }

    #brand {
        margin-left: 95px;
    }

    .nav-item {
       position: relative;
       left: 20px;
       text-align: center;
    }

    ul {
        width: 100%;
        justify-content: center;
    }

    #git, #linked {
        position: relative;
        left: 10px;
    }
}

@media (max-width: 768px) {

    .container {
        margin-left: 25px;
        width: 760px;
    }

    #brand {
        margin-left: 30px;
    }

    .nav-item {
        position: relative;
        left: 5px;
    }

    #git, #linked {
        position: relative;
        left: 0px;
    }

    #kyle {
        max-width: 300px;
    }

    .label {
        bottom: 75px;
        font-size: 24px;
    }

    .label2 {
        width: 100px;
        left: 100px;
    }
}

@media (max-width: 698px) {

    .container {
        width: 690px;
        margin-left: 70px;
    }

    #brand {
        margin-left: 25px;
        width: 690px;
        text-align: center;
    }

    .label {
        bottom: 75px;
        font-size: 24px;
    }

    .label2 {
        left: 150px;
    }
}

@media (max-width: 640px) {
    .navbar-brand {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .container {
        margin-top: 50px;
        margin-left: 30px;
    }

    .nav-link {
        margin-top: 3px;
        background-color: #ffffff;
        margin: auto;
        justify-content: center;
    }

    ul {
        width: 100%;
        justify-content: center;
    }

    .label {
        bottom: 75px;
        font-size: 24px;
    }

}

@media (max-width: 414px) {
    .container {
        width: 395px;
        margin-left: 10px;
    }

    #brand {
        width: 400px;
    }

    .nav-item {
        width: 80px;
    }

    #git, #linked {
        left: 10px;
    }

    .label2 {
        width: 100px;
        left: 80px;
    }

    .card-footer {
        margin-top: 200px;
    }
}

@media (max-width: 411px) {
    .container {
        width: 390px;
        margin-left: 10px;
        margin-top: 65px;
    }

    .nav-item {
        width: 75px;
    }

    .label2 {
        width: 100px;
        left: 80px;
    }

    #header-about {
        text-align: center;
    }

    #header-contact {
        text-align: center;
    }

    #header-portfolio {
        text-align: center;
    }
}

@media (max-width: 375px) {

    .container {
        width: 355px;
    }

    .nav-item {
        width: 80px;
    }

    .label2 {
        width: 100px;
        left: 70px;
    }

    .card-footer {
        margin-top: 200px;
    }
}

@media (max-width: 360px) {

    .container {
        width: 345px;
    }

    .nav-item {
        width: 80px;
    }

    .label2 {
        width: 100px;
        left: 70px;
    }

    #brand {
        width: 360px;
    }
}

@media (max-width: 320px) {

    .container {
        width: 300px;
    }

    #brand {
        width: 320px;
    }

    .nav-item {
        width: 80px;
    }

    .label2 {
        width: 100px;
        left: 40px;
    }
}